/* CSS - Cascading Style Sheet */
:root {
    /*Variáveis CSS*/
    --color-background: #0b0c10    ; 
    --color-primary-lighter: #1f2833  ;
    --color-text-base: #c5c6c7 ;
    --color-format-button: #66fcf1  ;
    --color-format-button-light:#45a29e   ;
    --color-clear-button: #b536db  ;
    --color-clear-button-light:#8f25af   ;
    --color-copy-button: #c4ec3f  ;
    --color-copy-button-light:#a8ca39   ;
    --color-button-text: #ffffff; 
    
    font-size: 60%; 
}

test{
    margin:0%
}

html,
body{
    height: 100vh;
}

body{
    background: var(--color-background);
    display:flex;
    align-items: center;
    justify-content: center;    

}


body,
input,
button,
textarea{
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

#container{
    width: 90vw; /*vw refere-se ao tamanho da tela... interpreta-se como 90% da tela*/
    max-width: 700px;
}

@media(min-width: 700px){
    :root{
        font-size: 62.5%; /*todo rem vai ser relativo a 10px*/
    }
    #container{
        max-width: 1100px;;
    }
}