/* CSS - Cascading Style Sheet */
:root {
    /*Variáveis CSS*/
    --color-background: #F0F0F7;
    --color-primary-lighter: #378fca;
    --color-primary-light: #65aad8;
    --color-primary: #000000;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #ffffff;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #ffffff;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    /* tamanho da fonte padrão = 16px - 100% - 1rem rem = relativo à fonte que foi configurada no :root*/
    font-size: 60%; /* controle das medidas rem */
}

test{
    margin:0%
}

html,
body{
    height: 100vh;
}

body{
    background: var(--color-background);
    display:flex;
    align-items: center;
    

}


body,
input,
button,
textarea{
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

#container{
    width: 90vw; /*vw refere-se ao tamanho da tela... interpreta-se como 90% da tela*/
    max-width: 700px;
}

@media(min-width: 700px){
    :root{
        font-size: 62.5%; /*todo rem vai ser relativo a 10px*/
    }
}